body {

}
h1{
  font-family: 'Rokkitt', serif;
}
h2{
  font-family: 'Vollkorn', serif;
}

p {
  padding: 5px;
  margin: 30px;
  font-family: 'Rokkitt', serif;
}

li {
  font-family: 'Rokkitt', serif;
  padding: 15px;
}
